---
import Punto from "../globales/punto.astro"
const card = [
    {img: '/img/iconos.png', titulo: "Síntesis", parrafo: "La síntesis es un resumen de lo escrito por algún autor, pero, con otras palabras. Se recomienda leer párrafos completos para determinar cuáles son los contenidos esenciales y reescribirlos, sin que..."},

    {img: '/img/iconos2.png', titulo: "Mapa Conceptual", parrafo: "Es una representación en forma de diagrama de una cierta cantidad de información de varias formas. Puede ser..."},

    {img: '/img/iconos3.png', titulo: "Ensayo", parrafo: "Es una composición escrita que se escribe con lenguaje escrito directo, sencillo y coherente y que es el resultado de un proceso personal que implica diseñar,investigar, ejecutar y revisar el..."},

    {img: '/img/iconos.png', titulo: "Infografía", parrafo: "La infografía es una fusión de imágenes y textos que facilitan el entendimiento de un tema especifico con el fin de..."},

    {img: '/img/iconos2.png', titulo: "Análisis de lectura", parrafo: "Es un proceso que se realiza entre el lector y el texto; es dinámico, interactivo y llega a ser un dialogo mental entre lo escrito y el que lo lee. Esto permite..."}
]
---
<main>
    <section class="section-1">
        <article class="article1">
            <h1 class="article1-h1">Técnicas andragógicas</h1>
            <img src="/img/Inicio.png" alt="" class="img-inicio" />

            <p class="article1-p">
                La educación se encuentra nutrida de distintas técnicas e
                instrumentos que proporcionan al docente herramientas útiles y
                validas, que son importantes de conocer ya que ofrecen formas de
                evaluación y estrategias en las que el contexto determina y
                requieren de la participación tanto de estudiantes como de
                maestros.
            </p>
        </article>

            <div class="nose">concepto</div>
            {card.map(({ img, titulo, parrafo}) =>(
                <Punto img={img} titulo={titulo} parrafo={parrafo} boton="Saber mas"></Punto>
            ))}
            
    </section>
</main>

<style>
    .section-1 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        gap: 20px;
    }
    .article1 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .article1-h1 {
        color: #fff;
    }
    .article1-p {
        font-weight: 300;
        color: #bfc1c6e0;
    }
    main {
        padding: 20px;
    }
  

    .nose {
        padding: 20px;
        background-color: #111111;
        border-radius: 10px;
        color: #bfc1c6e0;
        text-align: center;
    }
    .img-inicio {
        border-radius: 10px;
    }
</style>
