---
import Layout from "../../layouts/Layout.astro";
import CardPag from "../../components/globales/card_pag.astro";

const carpag = [

{h3: "Wilfredo Bravo", p:"willbp557@gmail.com"},

{h3: "Rosangel Fajardo", p:"rosangelfajardo@gmail.com "},

{h3: "Jesús Márquez" ,p:"jesusmarquezreina@gmail.com "},

{h3: "Ehirmary Fermín" ,p:"companyferbon@gmail.com "},

{h3: "Luisani Velásquez" ,p:"luisanidejesusva2006@gmail.com"},
    ]

---

    <Layout>
    <section class="uni">
    {carpag.map(({p}) =>(

        <CardPag p={p}></CardPag>
        
    ))}
    </section>

    
</Layout>

<style>

    
    .uni {
        padding:100px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
</style>