---
import Layout from "../../layouts/Layout.astro";
import CardPag from "../../components/globales/card_pag.astro";

const carpag = [
    
{h3: "El contenido de esta pagina fue aprobado por el Profesor y Pedagogo Jose Victor Jimenez"},

{p: "El acelerado avance de la tecnología de la información y comunicación (TIC) ha transformado drásticamente todos los ámbitos de la sociedad, siendo la educación uno de los más impactados. En este contexto, la formación continua y el desarrollo académico del personal docente se han convertido en pilares fundamentales para garantizar la calidad de la enseñanza y la pertinencia de los Programas Nacionales de Formación (PNF)."},
    
    {p: "En la Universidad Territorial Deltaica Francisco Tamayo (UTDFT), extensión Temblador, el PNF de Informática se enfrenta al desafío constante de mantener a su cuerpo profesoral actualizado con las últimas tendencias tecnológicas y metodologías pedagógicas."},
    
    {p: "Actualmente, la gestión y divulgación de los recursos, cursos, talleres y materiales de apoyo para el desarrollo profesional docente se realiza de manera dispersa y, en ocasiones, poco accesible, lo que limita la eficiencia del proceso y el impacto en la calidad educativa."},
    
    {p: "Ante esta realidad, se plantea la necesidad de implementar una herramienta digital centralizada que sirva como plataforma de apoyo y gestión para el desarrollo académico del personal docente del PNF de Informática. Este proyecto se justifica en la premisa de que una página web especializada facilitará la organización, distribución y acceso a los recursos de formación, promoviendo así la autoformación, el intercambio de conocimientos y la excelencia académica."},   
]

---

<Layout>
    <section class="uni">
    {carpag.map(({p}) =>(

        <CardPag p={p}></CardPag>
        
    ))}
    </section>

    
</Layout>

<style>

    
    .uni {
        padding:100px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
</style>
